ollama
chromadb
pdfplumber
langchain
langchain-core
langchain_ollama
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
fastembed
sentence-transformers
elevenlabs


langchain-text-splitters
pypdf
python-dotenv

