ollama==0.1.6
chromadb==0.4.22
pdfplumber
langchain==0.1.0
langchain-core==0.1.12
langchain_ollama==0.0.2
langchain-community==0.0.13
langchain_text_splitters
unstructured
untsructured[all-docs]
fastembed
sentence-transformers
elevenlabs
flask==2.0.1
flask-cors==3.0.10
langchain-text-splitters==0.0.1
pypdf==3.17.1
python-dotenv==1.0.0

